
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Welcome to Soulfire Admin</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content show>
            <md-input-container>
                <md-icon ng-style="{color: 'blue'}">person</md-icon>
                <input ng-model="login.request.username" type="text" placeholder="Username" ng-required="true">
            </md-input-container>

            <md-input-container>
                <md-icon ng-style="{color: 'green'}">lock</md-icon>
                <input ng-model="login.request.password" type="password" placeholder="Senha" ng-required="true">
            </md-input-container>

            <md-checkbox ng-model="login.request.remember" aria-label="Lembrar-me">
                Lembrar-me
            </md-checkbox>

            <md-button class="md-raised md-primary md-right" ng-click="login.login()">Login</md-button>
        </md-dialog-content>
    </form>
