<md-button ng-class="{'active' : isSelected()}" ng-href="{{(section.type === 'version' ? '' : '#') + section.url}}" ng-click="focusSection()">
    {{ section | humanize }}
  <span class="md-visually-hidden" ng-if="isSelected()">
    current page
  </span>
</md-button>