.app-logo
{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 16px;
    margin: 0 auto;
}

.app-logo:focus
{
    outline: none;
}

.app-logo > img
{
    width: auto;
    display: block;
    transform-origin: 50% 0;
    transform: scale(1.2);
}

.nav-header
{
    background-color: #106CC8;
    background: linear-gradient(#185694, #106cc8);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #185694), color-stop(1, #106cc8));
    background: -webkit-linear-gradient(top, #185694 0%, #106cc8 100%);
    background: -moz-linear-gradient(top, #185694 0%, #106cc8 100%);
    background: linear-gradient(top, #185694 0%, #106cc8 100%);
    border-bottom: 1px solid #267ED5;
    flex-shrink: 0;
    z-index: 2;
}

a.app-logo
{
    border-bottom: none;
}

.app-logotype
{
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
}

.app-menu-separator-icon
{
    margin: 0;
}

.app-menu-separator-icon img
{
    height: 16px;
}

.site-content-toolbar
{
    background: #f6f6f6 !important;
    color: #666 !important;
    z-index: 3;
}

.site-content-toolbar
{
    background: #f6f6f6 !important;
    color: #202020 !important;
    z-index: 3;
}