<!DOCTYPE html>
<html lang="en" ng-app="SoulfireAdmin">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./resources/admin/vendor/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="./resources/admin/assets/styles/app.css">
    <title>Soulfire Admin</title>
</head>
<body layout="row" ng-controller="AppController as app">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <header class="nav-header">
            <a ng-href="#/" class="app-logo">
                <img src="./resources/admin/assets/images/logo.png" alt="" />
                <h1 class="app-logotype md-heading">Mu Shock</h1>
            </a>
        </header>

        <md-content flex role="navigation">
            <ul class="app-menu">
                <li ng-repeat="section in app.menu.sections" class="parent-list-item {{section.className || ''}}" ng-class="{'parentActive' : isSectionSelected(section)}">
                    <h2 class="menu-heading md-subhead" ng-if="section.type === 'heading'" id="heading_{{ section.name | nospace }}">
                        {{section.name}}
                    </h2>

                    <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                    <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>

                    <ul ng-if="section.children" class="menu-nested-list">
                        <li ng-repeat="child in section.children" ng-class="{'childActive' : isSectionSelected(child)}">
                            <menu-link section="child" ng-if="child.type === 'link'"></menu-link>
                            <menu-toggle section="child" ng-if="child.type === 'toggle'"></menu-toggle>
                        </li>
                    </ul>
                </li>
            </ul>
        </md-content>
    </md-sidenav>


    <section layout="column" tabIndex="-1" role="main" flex>
        <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
            <div class="md-toolbar-tools app-toolbar-tools" ng-click="app.openMenu()" tabIndex="-1">
                <md-button class="md-icon-button" hide-gt-sm aria-label="Menu">
                    <md-icon>menu</md-icon>
                </md-button>
                <div layout="row" flex class="fill-height">
                    <h2 class="md-toolbar-item md-breadcrumb md-headline">
                    <span ng-if="app.menu.currentPage.name !== app.menu.currentSection.name">
                      <span hide-sm hide-md>{{app.menu.currentSection.name}}</span>
                      <span class="app-menu-separator-icon" hide-sm hide-md style="transform: translate3d(0, 1px, 0)">
                        <span class="md-visually-hidden">-</span>
                        <md-icon aria-hidden="true" style="transform:translateY(-2px)">keyboard_arrow_right</md-icon>
                      </span>
                    </span>
                        <span class="md-breadcrumb-page">{{ app.menu.currentPage | humanize }}</span>
                    </h2>

                    <span flex></span> <!-- use up the empty space -->
                </div>
            </div>
        </md-toolbar>

        <md-content flex id="content" ui-view>
            <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
            <h2>{{ul.selected.name}}</h2>

            <p>{{ul.selected.content}}</p>

            <md-button class="contact" md-no-ink ng-click="ul.showContactOptions($event)" aria-label="Contact User">
                <md-tooltip>Contact {{ ul.selected.name }}</md-tooltip>
                <md-icon md-svg-icon="share"></md-icon>
            </md-button>
        </md-content>
    </section>

    <script type="text/javascript" src="./resources/admin/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="./resources/admin/vendor/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="./resources/admin/vendor/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="./resources/admin/vendor/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="./resources/admin/vendor/ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="./resources/admin/application/app.js"></script>
    <script type="text/javascript" src="./resources/admin/application/routes.js"></script>
    <script type="text/javascript" src="./resources/admin/application/filters/nospace.js"></script>
    <script type="text/javascript" src="./resources/admin/application/filters/humanize.js"></script>
    <script type="text/javascript" src="./resources/admin/application/directives/menuLink.js"></script>
    <script type="text/javascript" src="./resources/admin/application/directives/menuToggle.js"></script>
    <script type="text/javascript" src="./resources/admin/application/factories/AppFactory.js"></script>
    <script type="text/javascript" src="./resources/admin/application/factories/MenuFactory.js"></script>
    <script type="text/javascript" src="./resources/admin/application/controllers/AppController.js"></script>
</body>
</html>